{% load has_group %}

<aside class="navbar">
    {% if request.user.is_authenticated %}
    <div class="navbar__group navbar__profile">
        <h1 class="navbar__title">{{user.username}}</h1>
    </div>
    <hr style="border: 1px solid #ffffffa9; width: 100%; margin: 0 0 3vh 0;">
    {% endif %}

    <div class="navbar__group">
        <h1 class="navbar__title" id="group_menu1">Ingresos / Salidas</h1>
        <ul class="navbar__list" id="group__list1">
            <li><a href="#">Stock</a></li>
            <li><a href="#">ventas</a></li>
            <li><a href="/egresos">Egresos</a></li>
        </ul>
    </div>
    {% if request.user|has_group:"admin" %}
    <div class="navbar__group">
        <h1 class="navbar__title" id="group_menu2">Grupo2</h1>
        <small style="color: peru; font-size: .5rem;">este contenido solo se muestra para el admin</small>

        <ul class="navbar__list" id="group__list2">
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Roles</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="navbar__account">
        <a href="{% url 'logout' %}">logout</a>
    </div>
</aside>
<script>
    const group1 = document.getElementById("group_menu1");
    const group2 = document.getElementById("group_menu2");
    group1.addEventListener("click", () => {
        document.getElementById("group__list1").classList.toggle("navbar--hidden");
        group1.classList.toggle("xtra--padding");
    });
    group2.addEventListener("click", () => {
        document.getElementById("group__list2").classList.toggle("navbar--hidden");
        group2.classList.toggle("xtra--padding");
    });
</script>