{% extends "main/base.html" %}
{% load static %}
{% load has_group %}

{% block title %} Dashboard Gas {% endblock %}
{% block style %} {% static 'css/dashboard.css' %} {% endblock %}
{% block content %}
<!-- {% include "main/snippets/header.html" %} -->
{% include "main/snippets/sidebar.html" %}

{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %} 

<main>
    <h1>Dashboard</h1>
    <a href="{% url 'register' %}">registro</a>
    <a href="admin/">admin menu</a>
    <a href="{% url 'logout'%}">logout</a>
</main>

<!-- {% include "main/snippets/footer.html" %} -->
{% endblock %}