{% extends "main/base.html" %}
{% load static %}
{% load has_group %}

{% block title %} Dashboard Gas {% endblock %}
{% block style %} {% static 'css/main.css' %} {% endblock %}

{% block content %}
{% include "main/snippets/header.html" %}

{% if messages %}
{% for message in messages %}
{{ message }}
{% endfor %}
{% endif %}

<section>
    <h1>Dashboard</h1>
    <a href="{% url 'register' %}">registro</a>
    <a href="admin/">admin menu</a>
</section>

{% if request.user|has_group:"admin" %}
<section>
    <h1 style="color: peru;">este contenido solo se muestra para el admin</h1>
</section>
{% endif %}

{% include "main/snippets/footer.html" %}
{% endblock %}