{% extends "main/base.html" %}
{% load static %}
{% load has_group %}

{% block title %} Registrar Egreso {% endblock %}
{% block style %} {% static 'css/dashboard.css' %} {% endblock %}
{% block dashboard_title %}Registrar Egreso{% endblock %}
{% block content %}
<form action="/validar-egreso/" method="post">
    {% csrf_token %}
    <label for="txtCategoria">Categoria</label>
    <input type="text" id="txtCategoria" name="txtCategoria" required>

    <label for="txtDescripcion">Descripcion</label>
    <input type="text" id="txtDescripcion" name="txtDescripcion" required>

    <label for="txtCostos">Costo</label>
    <input type="text" id="txtCostos" name="txtCostos" required>

    <button type="submit">Agregar</button>
</form>
{% endblock %}