{% extends "main/base.html" %}
{% load static %}
{% load has_group %}

{% block title %} Editar Egreso {% endblock %}
{% block style %} {% static 'css/dashboard.css' %} {% endblock %}
{% block dashboard_title %}Editar Egreso{% endblock %}
{% block content %}
<form action="/validar-edicion-egreso/{{egreso.id}}" method="post">
    <h1>AGREGAR EGRESO</h1>

    {% csrf_token %}

    <label for="txtCategoria">Categoria</label>
    <input type="text" id="txtCategoria" name="txtCategoria" value="{{egreso.categoria}}" required>

    <label for="txtDescripcion">Descripcion</label>
    <input type="text" id="txtDescripcion" name="txtDescripcion" value="{{egreso.descripcion}}" required>

    <label for="txtCostos">Costo</label>
    <input type="text" id="txtCostos" name="txtCostos" value="{{egreso.costos}}" required>

    <button type="submit">Actualizar</button>
</form>
{% endblock %}