{% extends "main/base.html" %}
{% load static %}
{% load has_group %}

{% block title %} Dashboard Egresos{% endblock %}
{% block style %} {% static 'css/dashboard.css' %} {% endblock %}
{% block dashboard_title %}Egresos{% endblock %}
{% block content %}
<a href="/agregar-egreso">Agregar egreso</a>
<table>
    <thead>
        <th id="">Categoria</th>
        <th id="">Descripcion</th>
        <th id="">Costos</th>
        <th id="" colspan="2">Opciones</th>
    </thead>
    <tbody>
        {% for egreso in egresos %}
        <tr>
            <td>{{egreso.categoria}}</td>
            <td>{{egreso.descripcion}}</td>
            <td>{{egreso.costos}}</td>
            <td><a href="/editar-egreso/{{egreso.id}}">Editar</a></td>
            <td><a href="/eliminar-egreso/{{egreso.id}}">Eliminar</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}