// $void: #2c3a47;
$void: #2c3147;

$accent_color: #0984e3;
$accent_color2: #74b9ff;
$accent_color3: #81ecec;
$accent_color4: #00cec9;

$alert_color: transparentize(#c7b515, 0.75);

$hover_animation_time: 180ms;

$font-min: (
	"mini": 12px,
	"normal": 16px,
	"title": 20px,
	"four": 20px,
	"accent": 30px,
	"super_accent": 30px,
);

$font-pref: (
	"mini": 0.8rem,
	"normal": 1vw,
	"title": 2vw,
	"four": 3vw,
	"accent": 5vw,
	"super_accent": 10vw,
);

$font-max: (
	"mini": 16px,
	"normal": 25px,
	"title": 120px,
	"four": 120px,
	"accent": 280px,
	"super_accent": 320px,
);

@function fontz($type) {
	@return clamp(
		map-get($font-min, $type),
		map-get($font-pref, $type),
		map-get($font-max, $type)
	);
}
