/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@-webkit-keyframes animated_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes animated_gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../font/OpenSans-Bold.ttf") format("truetype"), url("../font/OpenSans-BoldItalic.ttf") format("truetype"), url("../font/OpenSans-ExtraBold.ttf") format("truetype"), url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../font/OpenSans-Italic.ttf") format("truetype"), url("../font/OpenSans-Light.ttf") format("truetype"), url("../font/OpenSans-LightItalic.ttf") format("truetype"), url("../font/OpenSans-Medium.ttf") format("truetype"), url("../font/OpenSans-MediumItalic.ttf") format("truetype"), url("../font/OpenSans-Regular.ttf") format("truetype"), url("../font/OpenSans-SemiBold.ttf") format("truetype"), url("../font/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  background: #2c3147;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: clamp(20px, 2vw, 120px);
  text-align: center;
}

main a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  color: #0984e3;
  cursor: pointer;
  -webkit-transition: color 180ms ease-in-out;
  transition: color 180ms ease-in-out;
}

main a:hover {
  color: #74b9ff;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #363c57;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.486);
          box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.486);
}

.navbar__group {
  text-align: center;
  width: 100%;
}

.navbar__title {
  font-size: clamp(16px, 1vw, 25px);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #f2f2f2;
  -webkit-transition: color 180ms ease-in-out;
  transition: color 180ms ease-in-out;
}

.navbar__title:hover {
  color: white;
}

.navbar__profile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  text-align: center;
  padding: 2vh 0 !important;
}

.navbar__home h1 {
  padding: 0 0 1rem 0;
}

.navbar__home a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  color: #f2f2f2;
  -webkit-transition: color 180ms ease-in-out;
  transition: color 180ms ease-in-out;
}

.navbar__home a:hover {
  color: white;
}

.navbar__title.xtra--padding {
  padding-bottom: 0.8rem;
}

.navbar__list {
  text-align: left;
  font-size: clamp(16px, 1vw, 25px);
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 180ms ease-in-out, -webkit-transform 180ms ease-in-out;
  transition: opacity 180ms ease-in-out, -webkit-transform 180ms ease-in-out;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out, -webkit-transform 180ms ease-in-out;
}

.navbar__list a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  padding: 0.8rem 0 0.8rem 1rem;
  border-radius: 10%;
  text-transform: capitalize;
  color: #cccccc;
  display: block;
  -webkit-transition: all 180ms ease-in-out;
  transition: all 180ms ease-in-out;
}

.navbar__list a:hover {
  color: white;
  background-color: #535c86;
}

.navbar--hidden {
  opacity: 0;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.navbar--nodisplay {
  display: none;
}

.navbar__account {
  font-size: clamp(16px, 1vw, 25px);
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navbar__account a {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: block;
  text-transform: uppercase;
  color: #cccccc;
  -webkit-transition: color 180ms ease-in-out;
  transition: color 180ms ease-in-out;
  height: auto 0;
}

.navbar__account a h1 {
  padding: 1rem 0.4em;
}

.navbar__account a img {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.8;
  -webkit-transition: opacity 180ms ease-in-out;
  transition: opacity 180ms ease-in-out;
}

.navbar__account a:hover {
  color: white;
  background-color: #535c86;
}

.navbar__account a:hover img {
  opacity: 1;
}

.main__title {
  font-size: clamp(30px, 5vw, 280px);
  padding: 5vh 0;
}

.main__content {
  width: 100%;
}

.message {
  position: relative;
  width: 80%;
  font-size: clamp(16px, 1vw, 25px);
  border-radius: 0.5rem;
  background: rgba(199, 181, 21, 0.25);
  padding: 1rem;
  margin: 0 auto;
}

.message button {
  all: unset;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  font-size: clamp(20px, 2vw, 120px);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem;
}

.message.message--hidden {
  display: none;
}

table,
form {
  background-color: #181b28;
  width: 100%;
  min-height: 10vh;
}
/*# sourceMappingURL=dashboard.css.map */