{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="{% static 'image/fire.ico' %}" />

  <title>{% block title %} base {% endblock %}</title>

  <link rel="stylesheet" href="{% block style %} {% endblock %}" />
</head>

<body>
  <main class="main">
    {% include "snippets/sidebar.html" %}
    <div class="main__content">
      <h1 class="main__title">{% block dashboard_title %}Dashboard{% endblock %}</h1>
      {% include "snippets/message.html" %}

      {% block content %} {% endblock %}
    </div>
  </main>
</body>

</html>