{% extends "dashboard/base_forms.html" %}
{% load static %}
{% load has_group %}

{% block title %} Registrar {{ ubicacion }} {% endblock %}
{% block content %}
<div class="card col-md-8">
    <div class="card-body">
        <form action="/validar-egreso/" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="txtCategoria">Categoria</label>
                <select class="form-control form-control-lg" id="txtCategoria" name="txtCategoria" required>
                    <option>Personal</option>
                    <option>Combustible</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                </select>
            </div>

            <label for="txtCostos">Costo (Soles)</label>
            <input class="form-control form-control-lg" type="number" id="txtCostos" name="txtCostos" required>

            <label for="txtDescripcion">Descripcion</label>
            <textarea class="form-control" rows="3" id="txtDescripcion" name="txtDescripcion"
                placeholder="Opcional"></textarea>

            <div class="mt-4 bg-transparent">
                <a href="javascript:history.back()" class="btn btn-lg btn-outline-danger float-left">
                    <i class="fas fa-backward"></i> Volver
                </a>
                <button class="btn btn-lg btn-outline-success float-right" type="submit">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}