{% extends "dashboard/base_table.html" %}
{% load static %}
{% load has_group %}

{% block addhref %}/agregar-egreso{% endblock %}
{% block table %}
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Costos</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in registro %}
        <tr>
            <td>{{item.categoria}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.costos}}</td>
            <td>
                <div class="btn-group">
                    <a type="button" class="btn btn-info" href="/editar-egreso/{{item.id}}">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Editar
                    </a>
                    <a type="button" class="btn btn-danger" href="/eliminar-egreso/{{item.id}}">
                        <i class=" fas fa-trash">
                        </i>
                        Eliminar
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}