{% extends "dashboard/base_table.html" %}
{% load static %}
{% load has_group %}

{% block title %}Tabla Egresos{% endblock %}

{% block addbutton %}
<a class="btn btn-app bg-info float-right" href="/agregar-egreso">
    <i class="fas fa-plus"></i> Agregar egreso
</a>
{% endblock %}
{% block table %}
<table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Costos</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {% for egreso in egresos %}
        <tr>
            <td>{{egreso.categoria}}</td>
            <td>{{egreso.descripcion}}</td>
            <td>{{egreso.costos}}</td>
            <td>
                <a class="btn btn-info btn-sm" href="/editar-egreso/{{egreso.id}}">
                    <i class="fas fa-pencil-alt">
                    </i>
                    Editar
                </a>
            </td>
            <td>
                <a class="btn btn-danger btn-sm" href="/eliminar-egreso/{{egreso.id}}">
                    <i class="fas fa-trash">
                    </i>
                    Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}