@import "./reset";
@import "./variables";
@import "./mixins";
@font-face {
	font-family: "Open Sans", sans-serif;
	src: url("../font/OpenSans-Bold.ttf") format("truetype"),
		url("../font/OpenSans-BoldItalic.ttf") format("truetype"),
		url("../font/OpenSans-ExtraBold.ttf") format("truetype"),
		url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
		url("../font/OpenSans-Italic.ttf") format("truetype"),
		url("../font/OpenSans-Light.ttf") format("truetype"),
		url("../font/OpenSans-LightItalic.ttf") format("truetype"),
		url("../font/OpenSans-Medium.ttf") format("truetype"),
		url("../font/OpenSans-MediumItalic.ttf") format("truetype"),
		url("../font/OpenSans-Regular.ttf") format("truetype"),
		url("../font/OpenSans-SemiBold.ttf") format("truetype"),
		url("../font/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

body {
	font-family: "Open Sans", sans-serif;
	overflow: hidden;

	background: $void;
	color: white;
}

main {
	@include flex(row);
	font-size: fontz(title);
	text-align: center;
	a {
		@include button;
		color: $accent_color;
		cursor: pointer;

		transition: color $hover_animation_time ease-in-out;
		&:hover {
			color: $accent_color2;
		}
	}
}

.navbar {
	@include flex(column);
	align-items: center;
	position: relative;
	min-width: 300px;
	max-width: 300px;
	height: 100vh;
	box-sizing: border-box;

	background: lighten($void, 5%);
	box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.486);
	&__group {
		text-align: center;
		width: 100%;
	}
	&__profile {
		text-align: center;
		padding: 2vh 0 !important;
	}
	&__title {
		font-size: fontz(normal);
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		color: darken(white, 5%);
		transition: color $hover_animation_time ease-in-out;

		&:hover {
			color: white;
		}
	}
	&__home {
		h1 {
			padding: 0 0 1rem 0;
		}
		a {
			@include button;
			color: darken(white, 5%);
			transition: color $hover_animation_time ease-in-out;
			&:hover {
				color: white;
			}
		}
	}
	&__title.xtra--padding {
		padding-bottom: 0.8rem;
	}
	&__list {
		text-align: left;
		font-size: fontz(normal);
		opacity: 1;
		transform: translateY(0);
		transition: opacity $hover_animation_time ease-in-out,
			transform $hover_animation_time ease-in-out;
		a {
			@include button;
			padding: 0.8rem 0 0.8rem 1rem;
			border-radius: 10%;
			text-transform: capitalize;

			color: darken(white, 20%);
			display: block;

			transition: all $hover_animation_time ease-in-out;
			&:hover {
				color: white;
				background-color: lighten($void, 20%);
			}
		}
	}
	&--hidden {
		opacity: 0;
		transform: translateY(-20px);
	}
	&--nodisplay {
		display: none;
	}

	&__account {
		font-size: fontz(normal);
		position: absolute;
		bottom: 0;
		@include flex(row);
		align-items: flex-end;
		width: 100%;
		a {
			@include button;
			padding: 0.8rem 0.3em;
			text-align: center;
			width: 100%;
			display: block;
			text-transform: uppercase;
			color: darken(white, 20%);
			transition: color $hover_animation_time ease-in-out;

			&:hover {
				color: white;
				background-color: lighten($void, 20%);
			}
		}
	}
}

.main {
	&__title {
		font-size: fontz(accent);
		padding: 5vh 0;
	}
	&__content {
		width: 100%;
	}
}

.message {
	position: relative;
	width: 80%;
	font-size: fontz(normal);
	border-radius: 0.5rem;
	background: $alert_color;
	padding: 1rem;
	margin: 0 auto;
	button {
		@include button;
		font-size: fontz(title);
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.2rem;
	}
}
.message.message--hidden {
	display: none;
}

table,
form {
	background-color: darken($void, 10%);
	width: 100%;
	min-height: 10vh;
	border: 1px solid white;
}
