@import "reset";

body {
	background: #262626;
	color: #fff;
}

h1 {
	font-size: 2 rem;
}

a {
	all: unset;
	font-size: 1.25rem;
	cursor: pointer;
	text-decoration: underline;
	color: rgb(255, 71, 209);
}

a:hover {
	color: white;
}

input {
	background: #262626;
	color: #fff;
}
